In [2]:
import pandas as pd

In [2]:
df=pd.read_table("fruit_data_with_colors.txt")
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [3]:
df.loc[df["fruit_label"]!=1,"fruit_label"]=0
df#.head()

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
0             1      apple      granny_smith   192    8.4     7.3         0.55
1             1      apple      granny_smith   180    8.0     6.8         0.59
2             1      apple      granny_smith   176    7.4     7.2         0.60
3             0   mandarin          mandarin    86    6.2     4.7         0.80
4             0   mandarin          mandarin    84    6.0     4.6         0.79
5             0   mandarin          mandarin    80    5.8     4.3         0.77
6             0   mandarin          mandarin    80    5.9     4.3         0.81
7             0   mandarin          mandarin    76    5.8     4.0         0.81
8             1      apple          braeburn   178    7.1     7.8         0.92
9             1      apple          braeburn   172    7.4     7.0         0.89
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69
15            1      apple  golden_delicious   156    7.7     7.1         0.69
16            1      apple  golden_delicious   156    7.6     7.5         0.67
17            1      apple  golden_delicious   168    7.5     7.6         0.73
18            1      apple       cripps_pink   162    7.5     7.1         0.83
19            1      apple       cripps_pink   162    7.4     7.2         0.85
20            1      apple       cripps_pink   160    7.5     7.5         0.86
21            1      apple       cripps_pink   156    7.4     7.4         0.84
22            1      apple       cripps_pink   140    7.3     7.1         0.87
23            1      apple       cripps_pink   170    7.6     7.9         0.88
24            0     orange     spanish_jumbo   342    9.0     9.4         0.75
25            0     orange     spanish_jumbo   356    9.2     9.2         0.75
26            0     orange     spanish_jumbo   362    9.6     9.2         0.74
27            0     orange  selected_seconds   204    7.5     9.2         0.77
28            0     orange  selected_seconds   140    6.7     7.1         0.72
29            0     orange  selected_seconds   160    7.0     7.4         0.81
30            0     orange  selected_seconds   158    7.1     7.5         0.79
31            0     orange  selected_seconds   210    7.8     8.0         0.82
32            0     orange  selected_seconds   164    7.2     7.0         0.80
33            0     orange      turkey_navel   190    7.5     8.1         0.74
34            0     orange      turkey_navel   142    7.6     7.8         0.75
35            0     orange      turkey_navel   150    7.1     7.9         0.75
36            0     orange      turkey_navel   160    7.1     7.6         0.76
37            0     orange      turkey_navel   154    7.3     7.3         0.79
38            0     orange      turkey_navel   158    7.2     7.8         0.77
39            0     orange      turkey_navel   144    6.8     7.4         0.75
40            0     orange      turkey_navel   154    7.1     7.5         0.78
41            0     orange      turkey_navel   180    7.6     8.2         0.79
42            0     orange      turkey_navel   154    7.2     7.2         0.82
43            0      lemon    spanish_belsan   194    7.2    10.3         0.70
44            0      lemon    spanish_belsan   200    7.3    10.5         0.72
45            0      lemon    spanish_belsan   186    7.2     9.2         0.72
46            0      lemon    spanish_belsan   216    7.3    10.2         0.71
47            0      lemon    spanish_belsan   196    7.3     9.7         0.72
48            0      lemon    spanish_belsan   174    7.3    10.1         0.72
49            0      lemon           unknown   132    5.8     8.7         0.73
50            0      lemon           unknown   130    6.0     8.2         0.71
51            0      lemon           unknown   116    6.0     7.5         0.72
52            0      lemon           unknown   118    5.9     8.0         0.72
53            0      lemon           unknown   120    6.0     8.4         0.74
54            0      lemon           unknown   116    6.1     8.5         0.71
55            0      lemon           unknown   116    6.3     7.7         0.72
56            0      lemon           unknown   116    5.9     8.1         0.73
57            0      lemon           unknown   152    6.5     8.5         0.72
58            0      lemon           unknown   118    6.1     8.1         0.70

In [4]:
df['fruit_label'].value_counts()

0    40
1    19
Name: fruit_label, dtype: int64

In [5]:
x=df[['mass','width','height']]
x.head()

   mass  width  height
0   192    8.4     7.3
1   180    8.0     6.8
2   176    7.4     7.2
3    86    6.2     4.7
4    84    6.0     4.6

In [6]:
y=df['fruit_label']
y.head()

0    1
1    1
2    1
3    0
4    0
Name: fruit_label, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import VotingClassifier

In [39]:
ir_cls=LogisticRegression()
rf_cls=RandomForestClassifier()
nb_cls=GaussianNB()

In [48]:
vclf=VotingClassifier(estimators=[('ir',ir_cls),('tf',rf_cls),('ga',nb_cls)],n_jobs=-1)

In [49]:
from sklearn.metrics import accuracy_score
for cls in [ir_cls,rf_cls,nb_cls,vclf]:
    cls.fit(x_train,y_train)
    y_pred=cls.predict(x_test)
    print("accuracy score",cls.__class__.__name__,accuracy_score(y_test,y_pred))

C:\Users\user8\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

accuracy score LogisticRegression 0.5555555555555556
accuracy score RandomForestClassifier 0.7777777777777778
accuracy score GaussianNB 0.8333333333333334
accuracy score VotingClassifier 0.8333333333333334

## Zoo data set

In [3]:
df=pd.read_csv("zoo.csv")
df

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [4]:
x=df[['aquatic','predator','toothed','backbone']]
x

     aquatic  predator  toothed  backbone
0          0         1        1         1
1          0         0        1         1
2          1         1        1         1
3          0         1        1         1
4          0         1        1         1
..       ...       ...      ...       ...
96         0         0        1         1
97         0         0        0         0
98         0         1        1         1
99         0         0        0         0
100        0         0        0         1

[101 rows x 4 columns]

In [5]:
y=df['class_type']

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier

In [8]:
dtc=DecisionTreeClassifier()
svm=LinearSVC()
knn=KNeighborsClassifier()

In [9]:
vclf=VotingClassifier(estimators=[('ir',dtc),('tf',svm),('ga',knn)],n_jobs=-1,voting='hard')

In [10]:
from sklearn.metrics import accuracy_score
for cls in [dtc,svm,knn,vclf]:
    cls.fit(x_train,y_train)
    y_pred=cls.predict(x_test)
    print("accuracy score",cls.__class__.__name__,accuracy_score(y_test,y_pred))

accuracy score DecisionTreeClassifier 0.8387096774193549
accuracy score LinearSVC 0.8387096774193549
accuracy score KNeighborsClassifier 0.7741935483870968
accuracy score VotingClassifier 0.8387096774193549