In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({"price":[1000,100,50,60,70]})
df1

   price
0   1000
1    100
2     50
3     60
4     70

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
scaler=MinMaxScaler()

In [5]:
x1_train_scaled=scaler.fit_transform(df1[['price']])
x1_train_scaled

array([[1.        ],
       [0.05263158],
       [0.        ],
       [0.01052632],
       [0.02105263]])

In [6]:
df=pd.read_table("community.txt",sep=',',na_values='?')
df.head()

,communityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,burglaries,burglPerPop,larcenies,larcPerPop,autoTheft,autoTheftPerPop,arsons,arsonsPerPop,ViolentCrimesPerPop,nonViolPerPop
0,BerkeleyHeightstownship,NJ,39.0,5320.0,1,11980,3.10,1.37,91.78,6.50,...,14.0,114.85,138.0,1132.08,16.0,131.26,2.0,16.41,41.02,1394.59
1,Marpletownship,PA,45.0,47616.0,1,23123,2.82,0.80,95.57,3.44,...,57.0,242.37,376.0,1598.78,26.0,110.55,1.0,4.25,127.56,1955.95
2,Tigardcity,OR,NaN,NaN,1,29344,2.43,0.74,94.33,3.43,...,274.0,758.14,1797.0,4972.19,136.0,376.30,22.0,60.87,218.59,6167.51
3,Gloversvillecity,NY,35.0,29443.0,1,16656,2.40,1.70,97.35,0.50,...,225.0,1301.78,716.0,4142.56,47.0,271.93,NaN,NaN,306.64,NaN
4,Bemidjicity,MN,7.0,5068.0,1,11245,2.76,0.53,89.16,1.17,...,91.0,728.93,1060.0,8490.87,91.0,728.93,5.0,40.05,NaN,9988.79

In [7]:
required_columns=[5,6]+list(range(11,26))+list(range(32,103))+[145]           # it should be executed only once

In [8]:
MinMaxScaler?

In [9]:
df.shape

(2215, 147)

In [10]:
 # getting required  column data from df1

In [11]:
df=df.iloc[:,required_columns]                                    # it should be executed only once
df.shape

(2215, 89)

In [12]:
df.shape

(2215, 89)

In [13]:
df.isna().sum()                         # or  df1.isnull().sum()

population               0
householdsize            0
agePct12t21              0
agePct12t29              0
agePct16t24              0
                      ...
PctBornSameState         0
PctSameHouse85           0
PctSameCity85            0
PctSameState85           0
ViolentCrimesPerPop    221
Length: 89, dtype: int64

In [14]:
df.dropna(inplace=True)
df

,population,householdsize,agePct12t21,agePct12t29,agePct16t24,agePct65up,numbUrban,pctUrban,medIncome,pctWWage,...,MedOwnCostPctInc,MedOwnCostPctIncNoMtg,NumInShelters,NumStreet,PctForeignBorn,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,ViolentCrimesPerPop
0,11980,3.10,12.47,21.44,10.93,11.33,11980,100.00,75122,89.24,...,21.1,14.0,11,0,10.66,53.72,65.29,78.09,89.14,41.02
1,23123,2.82,11.01,21.30,10.48,17.18,23123,100.00,47917,78.99,...,20.7,12.5,0,0,8.30,77.17,71.27,90.22,96.12,127.56
2,29344,2.43,11.36,25.88,11.01,10.28,29344,100.00,35669,82.00,...,21.7,11.6,16,0,5.00,44.77,36.60,61.26,82.85,218.59
3,16656,2.40,12.55,25.20,12.19,17.57,0,0.00,20580,68.15,...,20.6,14.5,0,0,2.04,88.71,56.70,90.17,96.24,306.64
5,140494,2.45,18.09,32.89,20.04,13.26,140494,100.00,21577,75.78,...,17.3,11.7,327,4,1.49,64.35,42.29,70.61,85.66,442.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,56216,3.07,15.46,30.16,14.34,8.08,56216,100.00,24727,75.05,...,22.6,11.7,64,0,18.90,52.67,39.19,74.58,85.88,545.75
2211,12251,2.68,17.36,31.23,16.97,12.57,12251,100.00,20321,75.06,...,17.3,14.4,0,0,2.24,75.16,49.12,78.79,92.85,124.10
2212,32824,2.46,11.81,20.96,9.53,20.73,32824,100.00,27182,59.79,...,23.9,13.1,44,0,7.35,48.66,46.73,75.54,92.30,353.83
2213,13547,2.89,17.16,30.01,14.73,10.42,0,0.00,19899,71.67,...,23.3,14.1,0,0,2.28,82.26,54.05,79.72,94.06,691.17
2214,28898,2.61,12.99,25.21,11.63,12.12,28664,99.19,23287,68.89,...,21.2,11.6,10,2,16.49,55.29,48.74,66.20,89.08,918.89

In [15]:
x=df[df.columns[:-1]]
x.shape

(1994, 88)

In [16]:
y=df[df.columns[-1]]
y.shape

(1994,)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [19]:
x_train.shape

(1395, 88)

In [20]:
x_test.shape

(599, 88)

In [21]:
from sklearn.preprocessing import MinMaxScaler

 ### create object for mimmax

In [24]:
scaler1=MinMaxScaler()

 ### fit and transform the traing feature data for scalar object

In [26]:
x_train_scale=scaler1.fit_transform(x_train)
x_train_scale

array([[2.63108988e-04, 4.01197605e-01, 1.74227218e-01, ...,
        7.31005545e-01, 7.01923077e-01, 8.68942895e-01],
       [4.14765884e-04, 1.76646707e-01, 7.04536331e-02, ...,
        6.27004346e-01, 6.69726107e-01, 8.67153720e-01],
       [3.88236184e-04, 4.19161677e-01, 1.79646728e-01, ...,
        9.37958939e-01, 8.23426573e-01, 9.49753988e-01],
       ...,
       [1.08033316e-04, 3.08383234e-01, 2.09755118e-01, ...,
        6.38992957e-01, 8.21678322e-01, 8.82212614e-01],
       [9.74214362e-03, 2.90419162e-01, 1.60176636e-01, ...,
        6.57725161e-01, 8.10751748e-01, 8.56120471e-01],
       [4.16365871e-03, 4.73053892e-01, 2.31633882e-01, ...,
        7.19016934e-01, 8.16724942e-01, 9.07857462e-01]])

### transform the testing features using the training feature scalar object

In [28]:
x_test_scale=scaler1.transform(x_test)
x_test_scale

array([[1.98332759e-02, 2.54491018e-01, 1.72219992e-01, ...,
        3.55162596e-01, 5.76340326e-01, 7.46682570e-01],
       [6.80199640e-04, 3.56287425e-01, 2.16981132e-01, ...,
        4.95429342e-01, 6.19609557e-01, 7.88131803e-01],
       [1.46391981e-03, 2.99401198e-01, 2.04536331e-01, ...,
        6.66117189e-01, 8.23717949e-01, 8.63426271e-01],
       ...,
       [3.13378668e-03, 6.58682635e-01, 3.34002409e-01, ...,
        7.17368500e-01, 8.79807692e-01, 8.82361712e-01],
       [5.28091466e-03, 2.51497006e-01, 1.53954235e-01, ...,
        6.90543983e-01, 8.76311189e-01, 8.63724467e-01],
       [3.37911804e-04, 4.07185629e-01, 2.61942995e-01, ...,
        5.08766672e-01, 6.68123543e-01, 8.75354108e-01]])

### train and test the linear model without scaled data and with scaled data

In [44]:
from sklearn.linear_model import LinearRegression

In [36]:
linmodel=LinearRegression()
linmodel

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
linmodel.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [51]:
linmodel.score(x_train,y_train)*100

67.91676808869315

In [52]:
linmodel.score(x_test,y_test)*100

59.779907041954104

In [40]:
linmodel1=LinearRegression()

In [41]:
linmodel1.fit(x_train_scale,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [50]:
linmodel1.score(x_train_scale,y_train)*100

67.91676808869315

In [43]:
linmodel1.score(x_test_scale,y_test)*100

59.77990704191234

## ridge regression

In [45]:
from sklearn.linear_model import Ridge

In [46]:
ridge=Ridge(alpha=1)
ridge.fit(x_train,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [48]:
ridge.score(x_train,y_train)*100

67.88953440129931

In [49]:
ridge.score(x_test,y_test)*100

59.8701195152752

In [53]:
ridge1=Ridge(alpha=1)
ridge1.fit(x_train_scale,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [55]:
ridge1.score(x_train_scale,y_train)*100

66.61280596428345

In [56]:
ridge1.score(x_test_scale,y_test)*100

60.63639158439717