In [1]:
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston=load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [8]:
df=pd.DataFrame(boston['data'])
df.columns=boston['feature_names']
df['Target']=boston['target']
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [9]:
df.shape

(506, 14)

In [12]:
x=df[df.columns[:-1]]
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [13]:
y=df['Target']
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: Target, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [16]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
116,0.13158,0.0,10.01,0.0,0.547,6.176,72.5,2.7301,6.0,432.0,17.8,393.30,12.04
45,0.17142,0.0,6.91,0.0,0.448,5.682,33.8,5.1004,3.0,233.0,17.9,396.90,10.21
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58
468,15.57570,0.0,18.10,0.0,0.580,5.926,71.0,2.9084,24.0,666.0,20.2,368.74,18.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.17120,0.0,8.56,0.0,0.520,5.836,91.9,2.2110,5.0,384.0,20.9,395.67,18.66
270,0.29916,20.0,6.96,0.0,0.464,5.856,42.1,4.4290,3.0,223.0,18.6,388.65,13.00
348,0.01501,80.0,2.01,0.0,0.435,6.635,29.7,8.3440,4.0,280.0,17.0,390.94,5.99
435,11.16040,0.0,18.10,0.0,0.740,6.629,94.6,2.1247,24.0,666.0,20.2,109.85,23.27
102,0.22876,0.0,8.56,0.0,0.520,6.405,85.4,2.7147,5.0,384.0,20.9,70.80,10.63

In [17]:
x_train.shape            # training and testing has same no. of columns

(354, 13)

In [18]:
x_test.shape

(152, 13)

In [20]:
from sklearn.linear_model import Ridge

In [21]:
ridge=Ridge(alpha=1)
ridge.fit(x_train,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [28]:
ridge.score(x_train,y_train)

0.7415671063241829

In [23]:
ridge.score(x_test,y_test)

0.7041586727559432

In [29]:
ridge.coef_

array([-0.1284272 ,  0.03695233,  0.01791436,  2.93269454, -7.84806046,
        4.06357438, -0.01724174, -1.27176091,  0.22549398, -0.00938149,
       -0.82710453,  0.01198771, -0.56347377])

### now get the coeff of linear regression  and compare the sum of squares of coeff

In [30]:
ridge.coef_**2

array([1.64935462e-02, 1.36547477e-03, 3.20924457e-04, 8.60069729e+00,
       6.15920530e+01, 1.65126368e+01, 2.97277654e-04, 1.61737581e+00,
       5.08475350e-02, 8.80123177e-05, 6.84101903e-01, 1.43705118e-04,
       3.17502693e-01])

In [31]:
sum(ridge.coef_**2)

89.39392396911227

In [32]:
from sklearn.linear_model import LinearRegression

In [35]:
linmodel1=LinearRegression()
linmodel1.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
linmodel1.score(x_train,y_train)*100

74.34997532004697

In [41]:
linmodel1.score(x_test,y_test)*100

71.12260057484903

In [38]:
linmodel1.coef_

array([-1.33470103e-01,  3.58089136e-02,  4.95226452e-02,  3.11983512e+00,
       -1.54170609e+01,  4.05719923e+00, -1.08208352e-02, -1.38599824e+00,
        2.42727340e-01, -8.70223437e-03, -9.10685208e-01,  1.17941159e-02,
       -5.47113313e-01])

In [39]:
linmodel1.coef_**2

array([1.78142684e-02, 1.28227829e-03, 2.45249239e-03, 9.73337115e+00,
       2.37685767e+02, 1.64608656e+01, 1.17090474e-04, 1.92099113e+00,
       5.89165615e-02, 7.57288830e-05, 8.29347548e-01, 1.39101170e-04,
       2.99332977e-01])

In [40]:
sum(linmodel1.coef_**2)

267.0104725841158

In [42]:
import pandas as pd

In [46]:
df=pd.read_table("community.txt",sep=',')
df

,communityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,burglaries,burglPerPop,larcenies,larcPerPop,autoTheft,autoTheftPerPop,arsons,arsonsPerPop,ViolentCrimesPerPop,nonViolPerPop
0,BerkeleyHeightstownship,NJ,39,5320,1,11980,3.10,1.37,91.78,6.50,...,14,114.85,138,1132.08,16,131.26,2,16.41,41.02,1394.59
1,Marpletownship,PA,45,47616,1,23123,2.82,0.80,95.57,3.44,...,57,242.37,376,1598.78,26,110.55,1,4.25,127.56,1955.95
2,Tigardcity,OR,?,?,1,29344,2.43,0.74,94.33,3.43,...,274,758.14,1797,4972.19,136,376.3,22,60.87,218.59,6167.51
3,Gloversvillecity,NY,35,29443,1,16656,2.40,1.70,97.35,0.50,...,225,1301.78,716,4142.56,47,271.93,?,?,306.64,?
4,Bemidjicity,MN,7,5068,1,11245,2.76,0.53,89.16,1.17,...,91,728.93,1060,8490.87,91,728.93,5,40.05,?,9988.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,Mercedcity,CA,?,?,10,56216,3.07,6.87,61.68,15.23,...,1376,2268.72,2563,4225.82,489,806.25,34,56.06,545.75,7356.84
2211,Pinevillecity,LA,?,?,10,12251,2.68,21.18,76.65,1.52,...,104,860.43,574,4748.9,24,198.56,2,16.55,124.1,5824.44
2212,Yucaipacity,CA,?,?,10,32824,2.46,0.52,92.62,0.98,...,628,1709.26,895,2435.97,179,487.19,8,21.77,353.83,4654.2
2213,Beevillecity,TX,?,?,10,13547,2.89,3.37,69.91,0.90,...,192,1508.01,474,3722.9,13,102.1,1,7.85,691.17,5340.87
2214,WestSacramentocity,CA,?,?,10,28898,2.61,2.39,71.27,9.09,...,791,2614.53,1458,4819.2,405,1338.67,20,66.11,918.89,8838.5

In [45]:
df.shape

(2215, 147)

In [163]:
df=pd.read_table("community.txt",sep=',',na_values='?')
df.dropna(inplace=True)

In [164]:
df.shape

(111, 147)

In [147]:
x1=df[['population','householdsize','autoTheftPerPop','racePctWhite','burglPerPop','larcenies','larcPerPop','autoTheft','autoTheftPerPop','arsons']]
x1.isnull().sum()
x1

,population,householdsize,autoTheftPerPop,racePctWhite,burglPerPop,larcenies,larcPerPop,autoTheft,autoTheftPerPop,arsons
54,332943,2.54,1394.26,76.96,1698.29,15251.0,4707.51,4517.0,1394.26,357.0
55,1585577,2.63,1554.73,53.52,988.14,39181.0,2561.10,23785.0,1554.73,2282.0
58,66049,2.63,273.97,72.45,833.83,2316.0,3448.48,184.0,273.97,50.0
99,130474,2.66,1566.00,53.85,2856.93,7719.0,6453.80,1873.0,1566.00,134.0
122,70487,2.59,646.41,81.61,1362.13,4048.0,5725.76,457.0,646.41,6.0
...,...,...,...,...,...,...,...,...,...,...
2086,63221,2.36,429.13,98.23,684.99,2059.0,3334.25,265.0,429.13,42.0
2097,393069,2.90,274.11,80.50,748.01,14812.0,3397.57,1195.0,274.11,200.0
2116,69348,2.83,586.66,89.79,846.79,2158.0,2985.90,424.0,586.66,5.0
2200,92703,2.49,466.01,97.17,371.47,707.0,786.32,419.0,466.01,0.0
2207,54021,2.54,883.67,84.12,985.85,1721.0,3256.51,467.0,883.67,10.0

In [148]:
y1=df['ViolentCrimesPerPop']
y1.isnull().sum()

0

In [149]:
#df.corr()

In [150]:
from sklearn.model_selection import train_test_split

In [151]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.30,random_state=42)

In [152]:
x1_train.shape

(77, 10)

In [153]:
x1_test.shape

(34, 10)

In [154]:
from sklearn.linear_model import Ridge

In [155]:
ridge1=Ridge(alpha=1)
ridge1.fit(x1_train,y1_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [162]:
ridge1.score(x1_train,y1_train)*100

89.7912807309621

In [161]:
ridge1.score(x1_test,y1_test)*100

70.97230205801587

In [158]:
ridge1.coef_

array([-1.98031998e-03, -1.27052657e+02, -2.14730793e-02, -1.58077954e+01,
        4.81750344e-01,  4.37003412e-02, -6.05972820e-02,  1.68606920e-01,
       -2.14730803e-02, -1.03672106e+00])

In [159]:
ridge1.coef_**2

array([3.92166723e-06, 1.61423776e+04, 4.61093134e-04, 2.49886396e+02,
       2.32083394e-01, 1.90971982e-03, 3.67203059e-03, 2.84282934e-02,
       4.61093176e-04, 1.07479056e+00])

In [160]:
sum(ridge1.coef_**2)

16393.605770814553

In [165]:
alpha=[1,10,20,50,100]
scores={}

In [170]:
for a in alpha:
    ridge1=Ridge(alpha=a)
    ridge1.fit(x_train,y_train)
    scores[a]=ridge1.score(x_test,y_test)

In [171]:
scores

{1: 0.7041586727559432,
 10: 0.6954181695183623,
 20: 0.6943043675080778,
 50: 0.6911290735296649,
 100: 0.6850436955094976}